/* board-style 시작 */
#detail-wrap{
  width: 100%;
}
#modify-wrap, #write-wrap{
  width: 100%;
  min-height: 65rem;	
}
#table-wrap{
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 5rem;	
}
#board-table{
  width: 100%; 
  border-top: 2px solid #272559; 
  border-bottom: 1px solid #ccc; 
  border-collapse: collapse;
}
#board-table tbody th{
  color: #454545; 
  vertical-align: middle; 
  text-align: center;
  font-size: 1.2rem;
}
#board-table tbody th, #board-table tbody td{
  padding: 1rem 1rem; 
  border-bottom: 1px solid #ccc;
}
#board-table tbody input{
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
}
#board-table tbody textarea{
  width: 100%; 
}
#title-span{
  font-size: 1.2rem;
  font-weight: bold;
}
#title-td{
  color: #454545;
  font-size: 1.2rem;
  font-weight: bold;
}
#input-td > input{
  font-size: 1.2rem;
  font-weight: 800;
  font-family: inherit;
}
#input-td > input:focus {
  outline:none;
}
#byte-td{
  color: #454545;
  font-size: 0.5rem;
  text-align: center;
}
#board-hashtag{
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}
#msg{
  color: darkgray;
  font-family: inherit;
  font-size: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
#tag-wrap{
  width: 100%;
  padding: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
#tag-input{
  width: 10rem;
  height: 2.5rem;
  text-align: center;
  font-family: inherit;
  border: solid 1px #99AFF2;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #272559;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
#tag{
  width: 80%;
  height: 100%;
  outline: none;
  border: none;
  font-family: inherit;
  text-align: center;
  background-color: inherit;
}
#tag-list{
  display: flex;
}
#tag-list > .tag-item{
  height: 2.5rem;
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  line-height: 2.5rem;
  padding: 0 0.5rem;
  border: solid 1px #99AFF2;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #272559;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
#tag-list > .tag-item > .del-btn{
  cursor: pointer;
  color: #99AFF2;
}
#tag-list > .tag-item > .del-btn:hover{
  color: #960707;
}
#board-footer{
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
.back-btn{
  width: 5rem;
  height: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: #008000;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #272559;
  text-align: center;
  line-height: 2rem;
  color: #ffffff;
  margin: 0 1rem;
}
.submit-btn{
  width: 5rem;
  height: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: #272559;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #272559;
  text-align: center;
  line-height: 2rem;
  color: #ffffff;
  margin: 0 1rem;
}
#btn-wrap{
  display: flex;
  justify-content: space-between;
}
#delete-btn{
  width: 5rem;
  height: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: #960707;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #272559;
  text-align: center;
  line-height: 2rem;
  color: #ffffff;
}
#modify-btn{
  width: 5rem;
  height: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: #272559;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #272559;
  text-align: center;
  line-height: 2rem;
  color: #ffffff;
  margin: 0 1rem;
}
/* board-style 끝 */