/* archive-wrap 시작 */
#archive-wrap{
  width: 100%;
  background-color: #C2EDF2;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
#archive-info{
  display: flex;
  justify-content: space-between;  	
}
.archive-content{
  width: 30%;
  height: 10rem;
}
.archive-title{
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #272559;   	
}
.archive-link, .archive-body{
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1rem;
  color: #454545;	
}
.archive-link > a:hover{
  color: #4AD988;	
}
/* archive-wrap 끝 */
/* about-wrap, projects-wrap 시작 */
#about-wrap, #projects-wrap{
  width: 100%;
  background-color: #C2EDF2;
  padding-bottom: 12rem;
}
.main-title{
  width: 100%;
  text-align: center;
  padding: 5rem 0;
  font-size: 2rem;
  font-weight: 700;
  color: #04C4D9;
}
.open-btn, .close-btn{
  width: 30%;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  color: #4AD988;
  padding-bottom: 5rem;
  display: none;
}
.open-btn.active, .close-btn.active{
  display: block;
}
#etc-wrap{
  display: none;
}
#etc-wrap.active{
  display: block;
}
.info-wrap{
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem 3rem;
  margin-bottom: 3rem;
  background-color: #f8f9fa;
  border-radius: 30px;
  box-shadow: 1px 3px 4px #272559;
}
.info-wrap:last-child{
  margin-bottom: 0;	
}
.info-title{
  width: 100%;
  margin-bottom: 3rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: #272559;
}
.sub-title{
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #272559;
}
.sub-body{
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.sub-body:last-child{
  margin-bottom: 0;
}
.sub-body a:hover{
  color: #4AD988;  	
}
#projects-wrap .sub-body video{
  max-width: 90%;
  display: block;
  margin: 2rem auto;	
}
#projects-wrap .sub-body-1{
  margin-bottom: 1rem;
}
#projects-wrap .sub-body-2{
  width: 90%;
  border-top: 2px solid #272559;
  border-bottom: 2px solid #272559;	
  margin: 0 auto;
}
#projects-wrap .sub-body-2 table{
  width: 75%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 0.75rem;
  font-size: 1rem;
}
#projects-wrap .sub-body-2 table th{
  vertical-align: top;
  text-align: left;	
}
/* about-wrap, projects-wrap 끝 */