/* write-wrap 시작 */
#write-wrap{
  width: 100%;
  min-height: 65rem;
}
#write-form{
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 5rem 0;
}
#board-write{
  width: 100%; 
  border-top: 2px solid #252525; 
  border-bottom: 1px solid #ccc; 
  border-collapse: collapse;
}
#board-write tbody input{
  width: 100%;
  height: 2rem;
  border: none;
  background-color: inherit;
}
#board-write tbody td{
  padding: 10px 15px; 
  border-bottom: 1px solid #ccc;
}
#board-write tbody textarea{
  width: 100%; 
}
#title-td{
  width: 10%;
  color: #454545;
  font-size: 1.2rem;
}
#input-td > input{
  padding: 0 1rem;	
  font-size: 1.2rem;
  font-weight: bold;
}
#byte-td{
  width: 10%;
  color: #454545;
  font-size: 0.5rem;
  text-align: center;
}
/* write-wrap 끝 */